<div class="grid">

    <div class="col-12 lg:col-4">
        <div class="card">
            <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                     class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">{{user.given_name +" "+user.family_name | titlecase}}</h5>
                <p class="text-muted mb-1">{{user.realm_access.roles[3].toLowerCase() | titlecase}}</p>
            </div>
        </div>
    </div>


    <div class="col-12 lg:col-8">
        <div class="card">
            <div class="field grid">
                <label for="First name" class="col-fixed w-9rem">First name</label>
                <div id="First name"class="col-sm-9">
                    <p class="text-muted mb-0">{{user.given_name  | titlecase}}</p>
                </div>
            </div>
            <hr>
            <div class="field grid">
                <label for="Last name" class="col-fixed w-9rem">Last name</label>
                <div id="Last name"class="col-sm-9">
                    <p class="text-muted mb-0">{{user.family_name | titlecase}}</p>
                </div>
            </div>
            <hr>
            <div class="field grid">
                <label for="Email" class="col-fixed w-9rem">Email</label>
                <div id="Email"class="col-sm-9">
                    <p class="text-muted mb-0">{{user.email}}</p>
                </div>
            </div>
            <hr>
            <div class="field grid">
                <label for="phoneNumber" class="col-fixed w-9rem">Phone Number</label>
                <div id="phoneNumber"class="col-sm-9">
                    <p class="text-muted mb-0">{{user.phoneNumber}}</p>
                </div>
            </div>
            <hr>
            <div class="field grid">
                <label for="Address" class="col-fixed w-9rem">Address</label>
                <div id="Address"class="col-sm-9">
                    <p class="text-muted mb-0">{{user.adress}}</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
