<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button  pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                        <button  pButton pRipple label="Top Products"  class="p-button-danger" (click)="getTopSellingProducts()"></button>
                    </div>
                    <div >
                        <button style="margin-left: 47em" pButton pRipple label="Product with low quantity"  class="p-button-danger" (click)="exportPDF()"></button>
                    </div>



                </ng-template>


                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','description','quantity','lowQuantity','unitPriceHT']" [rows]="3" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Products</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="description">description <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="quantity">quantity <p-sortIcon field="quantity"></p-sortIcon></th>
                        <th pSortableColumn="lowQuantity">low Quantity <p-sortIcon field="lowQuantity"></p-sortIcon></th>
                        <th pSortableColumn="unitPriceHT">unitPriceHT <p-sortIcon field="unitPriceHT"></p-sortIcon></th>
                        <th pSortableColumn="image">image <p-sortIcon field="image"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td hidden style="width:14%; min-width:10rem;"><span class="p-column-title">id</span>
                            {{product.idProduct||product.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">name</span>
                            {{product.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">description</span>
                            {{product.description}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">quantity</span>
                            {{product.quantity}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">lowQuantity</span>
                            {{product.lowQuantity}}
                        </td>
                        <!-- <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" />
                        </td> -->
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">unitPriceHT</span>
                            {{product.unitPriceHT | currency:'TND'}}
                        </td>
                        <td><img src="data:image/jpeg;base64,{{product.image}}"  width="100px" height="100px"></td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'data:image/jpeg;base64' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
                </div>
                <div class="field">
                    <label for="categorie">Category:</label>
                    <select id="categorie" [(ngModel)]="selectedCategorieId">
                        <option *ngFor="let categorie of categories" [value]="categorie.idCategorie">{{ categorie.nameCategorie }}</option>
                    </select>

                </div>
                <div class="field">
                    <label for="departement">Departement:</label>
                    <select id="departement" [(ngModel)]="selectedDepartementId">
                        <option *ngFor="let departement of departement" [value]="departement.idDepartement">{{ departement.nameDepartment }}</option>
                    </select>

                </div>
                <div class="field">
                    <label for="unite">Unite:</label>
                    <select id="unite" [(ngModel)]="selectedUniteId">
                        <option *ngFor="let unite of unites" [value]="unite.idUnit">{{ unite.name }}</option>
                    </select>

                </div>
                <div class="field">
                    <label for="quantity">quantity</label>
                    <input type="text" pInputText id="quantity" [(ngModel)]="product.quantity" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.quantity}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.quantity">Name is required.</small>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="unitPriceHT">unitPriceHT</label>
                        <p-inputNumber id="unitPriceHT" [(ngModel)]="product.unitPriceHT" mode="currency" currency="TND" locale="fr-FR"></p-inputNumber>
                    </div>

                    <div class="field col">
                        <label for=" lowQuantity">low Quantity</label>
                        <p-inputNumber id=" lowQuantity" [(ngModel)]="product.lowQuantity"></p-inputNumber>
                    </div>
                    <div class="field col">
                        <label>Image</label>
                        <input type="file" (change)="onSelectFile($event)" >
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="submitProduct(product)"></button>
            </ng-template>
        </p-dialog>



        <p-dialog [(visible)]="TopProductDialog" [style]="{width: '450px'}" header="Top Product" [modal]="true" class="p-fluid">
            <div *ngFor="let item of topSellingProducts ">{{item.name}}</div>

        </p-dialog>




        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.idProduct}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete(product.idProduct)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
