.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.chart-container {
  display: grid;
  place-items: center;
}

.small {
  width: 500px;
  height: 300px;
}

/* Center align the heading */
h2 {
  text-align: left;
}

/* Add margin to the top of the page */
.container-fluid {
  margin-top: 30px;
}

/* Add padding to the input elements */
.p-inputtext {
  padding: 0;
}
