<p>add-offer works!</p>

<form #f="ngForm" >

    <label for="title">Offer Title: </label>
    <input type="text" name="title" class="form-control" [(ngModel)]="offer.title" #t="ngModel" >

    <label for="description">Offer Description: </label>
    <input type="text" name="description" class="form-control" [(ngModel)]="offer.description" #t="ngModel" >

    <label for="image">Offer image: </label>
    <input type="text" name="image" class="form-control" [(ngModel)]="offer.image" #t="ngModel" >


    <label for="offerStatus">offerStatus : </label>
    <input type="text" name="offerStatus" class="form-control" [(ngModel)]="offer.offerStatus" #t="ngModel" >


    <label for="creationDate">creationDate: </label>
    <input type="date" name="creationDate" class="form-control" [(ngModel)]="offer.creationDate" #t="ngModel" >

    <label for="deadLine">deadLine : </label>
    <input type="date" name="deadLine" class="form-control" [(ngModel)]="offer.deadLine" #t="ngModel" >
    

    <label for="idClient">idClient : </label>
    <input type="number" name="idClient" class="form-control" [(ngModel)]="offer.idClient" #t="ngModel" >
    

    <label for="idSupplier">idSupplier : </label>
    <input type="number" name="idSupplier" class="form-control" [(ngModel)]="offer.idSupplier" #t="ngModel" >


  <button type="submit" (click)="save()">add</button>
  </form>
