<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Comment</th>
      <th>Client ID</th>
      <th>Product ID</th>
      <th>Supplier ID</th>
      <th>Rating</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let review of reviews">
      <td>{{ review?.idReview }}</td>
      <td>{{ review?.comment }}</td>
      <td>{{ review?.idClient }}</td>
      <td>{{ review?.idProduct }}</td>
      <td>{{ review?.idSupplier }}</td>
      <td>{{ review?.avis }}</td>
      <td>
        <button (click)="deleteReview(review.idReview)">Delete</button>
        <button [routerLink]="['/updatereview/',review.idReview]">update</button>
      </td>
    </tr>
  </tbody>
</table>
