<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
     <p-toast></p-toast>
          <p-toolbar styleClass="mb-4"> 
              <ng-template pTemplate="left">
                  <div class="my-2">
                      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                  </div>
              </ng-template>

              <ng-template pTemplate="right">
                  <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                  <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
              </ng-template>
           </p-toolbar> 

       <p-table #dt [value]="reviews" [columns]="cols" responsiveLayout="scroll" [rows]="10" 
        [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="true"
        [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts"
        selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage Reviews</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="Comment">Comment <p-sortIcon field="Comment"></p-sortIcon></th>
            <th>Product</th>
            <th pSortableColumn="clientId">Client ID<p-sortIcon field="clientId"></p-sortIcon></th>
            <th pSortableColumn="Supplier">Supplier <p-sortIcon field="Supplier"></p-sortIcon></th>
            <th pSortableColumn="Rating">Rating <p-sortIcon field="Rating"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-review>
          <tr>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Comment</span>
              {{review.comment}}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Product</span>
              <span class="p-column-title">Product</span>
              {{review.idProduct}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">CLIENT ID</span>
              {{review.idClient}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Supplier</span>
              {{review.idSupplier}}
            </td>
            <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Rating</span>
              <p-rating [ngModel]="review.noteReview" [readonly]="true" [cancel]="false"></p-rating>
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="editProduct(review)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteProduct(review)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Review Details" [modal]="true" class="p-fluid">
          <ng-template pTemplate="content">
              <div class="field">
                  <label for="name">comment</label>
                  <input type="text" pInputText id="name" [(ngModel)]="review.comment" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !review.comment}"/>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && !review.comment">comment is required.</small>
              </div>
              <div class="field">
                <label for="noteReview">note Review</label>
                <p-dropdown [(ngModel)]="review.avis" inputId="avis" optionValue="label" [options]="statuses" placeholder="Select">
                    <ng-template pTemplate="selectedItem">
                        <span *ngIf="review && review.avis" [class]="'product-badge status-' + review.avis.toLowerCase()">{{review.avis}}</span>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>
              <div class="field">
                  <label for="name">idClient</label>
                  <input type="number" pInputText id="name" [(ngModel)]="review.idClient" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !review.idClient}"/>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && !review.idClient">idClient is required.</small>
              </div>
              <div class="field">
                  <label for="name">idSupplier</label>
                  <input type="number" pInputText id="name" [(ngModel)]="review.idSupplier" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !review.idSupplier}"/>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && !review.idSupplier">idSupplier is required.</small>
              </div>
              <div class="field">
                  <label for="name">idProduct</label>
                  <input type="number" pInputText id="name" [(ngModel)]="review.idProduct" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !review.idProduct}"/>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && !review.idProduct">Name is required.</small>
              </div>

              

              
          </ng-template>

          <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
              <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
          </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
          </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span>Are you sure you want to delete selected products?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
          </ng-template>
      </p-dialog>
  </div>
</div>