<div class="landing-wrapper" id="wrapper">
    <div class="landing-topbar">
        <a href="#" class="logo">
            <img src="../assets/layout/images/logo-poseidon-dark.svg" alt="poseidon-layout" />
        </a>

        <ul class="landing-menu fadeInDown" id="landing-menu">
            <li>
                <a href="#" id="landing-menu-close">
                    <i class="pi pi-times"></i>
                </a>
            </li>
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#features">Features</a>
            </li>
            <li>
                <a href="#testimonials">Testimonials</a>
            </li>
            <li>
                <a href="#pricing">Pricing</a>
            </li>
            <li>
                <a class="contact" href="#contact">Contact</a>
            </li>
        </ul>

        <a href="#" id="landing-menu-button">
            <i class="pi pi-bars" style="font-size: 20px"></i>
        </a>

    </div>
