<div class="grid">

    <div class="col-12 lg:col-4">
        <div class="card">
            <div class="card-body text-center">
                <img src="{{company.logo}}" alt="avatar"
                     class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">{{company.companyName}}</h5>
            </div>
        </div>
    </div>


    <div class="col-12 lg:col-8">
        <div class="card">
            <div class="field grid">
                <label for="companyName" class="col-fixed w-9rem">Name</label>
                <div id="companyName"class="col-sm-9">
                    <p class="text-muted mb-0">{{company.companyName}}</p>
                </div>
            </div>
            <hr>
            <div class="field grid">
                <label for="companyRegisterNumber" class="col-fixed w-9rem">Register Number</label>
                <div id="companyRegisterNumber"class="col-sm-9">
                    <p class="text-muted mb-0">{{company.companyRegisterNumber}}</p>
                </div>
            </div>
            <hr>
            <div class="field grid">
                <label for="phoneNumber" class="col-fixed w-9rem">Phone Number</label>
                <div id="phoneNumber"class="col-sm-9">
                    <p class="text-muted mb-0">{{company.companyPhoneNumber}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
