<!--<div class="grid p-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="col-12 md:col-6">
        <form #f="ngForm">
            <div class="card">

                <h3 style="text-align: center">Registration Form</h3>
                <h5>User Infos</h5>
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
					<span class="p-input-icon-left">
						<i class="pi pi-user"></i>
						<input type="text" pInputText placeholder="First Name" name="First Name"
                               [(ngModel)]="user.firstName" required minlength="3" #firstName="ngModel"/>
                        <div *ngIf="firstName.invalid">
                            invalid
                        </div>
					</span>
                    </div>
                    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
					<span class="p-input-icon-left">
						<i class="pi pi-user"></i>
						<input type="text" pInputText placeholder="Last Name" name="Last Name"
                               [(ngModel)]="user.lastName" required minlength="3" #lastName="ngModel"/>

                    <div *ngIf="lastName.invalid">
                            invalid
                        </div></span>
                    </div>

                </div>
                <h5></h5>
                <p-calendar [showIcon]="true" inputId="icon" placeholder="Birthdate" name="Birthdate"
                            [(ngModel)]="user.birthDate" required #birthDate="ngModel"></p-calendar>
                <div *ngIf="birthDate.invalid">
                    invalid
                </div>
                <h5></h5>
                <input placeholder="Email" name="Email"
                         [(ngModel)]="user.email"  #email="ngModel"/>
                <div *ngIf="email.invalid">
                    invalid
                </div>
                <h5></h5>
                <p-inputNumber mode="decimal" placeholder="Phone Number" name="Phone Number"
                               [(ngModel)]="user.phoneNumber" required #phoneNumber="ngModel">
                </p-inputNumber>
                <div *ngIf="phoneNumber.invalid">
                    invalid
                </div>
                <h5>Securite</h5>
                <input placeholder="Password" name="Password"
                         [(ngModel)]="user.password"  #password="ngModel"/>

                <h5>Acount Type</h5>
                <p-autoComplete [(ngModel)]="user.role" [suggestions]="role" name="role"
                                (completeMethod)="filterRole($event)"
                                field="name" [dropdown]="true">
                </p-autoComplete>


                <h5></h5>
                <div class="col-12 md:col-6">
                    <button pButton pRipple
                            [disabled]="f.invalid" (click)="addUser(f.value)"
                            type="button" label="Register" class="p-button-rounded p-button-success mr-2 mb-2"></button>
                </div>


            </div>

        </form>
    </div>
</div>-->
<div style="width: 100%;background-color: lightgray ">
    <h2 style="text-align: center">Registration</h2>
    <div class="grid" style="display: inline-block;margin: 0 auto;margin-left: 100px
;margin-right: 100px">
        <div class="col-12">
            <div class="card">

                <form #f="ngForm">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label htmlFor="firstname2">Firstname</label>
                            <input pInputText id="firstname2" type="text"
                                   name="First Name"
                                   [(ngModel)]="user.firstName" required  #firstName="ngModel"/>
                            <small *ngIf="firstName.invalid && firstName.touched" class="p-error">User first name required.</small>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="lastname2">Lastname</label>
                            <input pInputText id="lastname2" type="text"
                                   name="last Name"
                                   [(ngModel)]="user.lastName" required  #lastName="ngModel"/>
                            <small *ngIf="lastName.invalid && lastName.touched"  class="p-error">User last name required.</small>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="firstname2">Email</label>
                            <input pInputText id="email" type="text"
                                   name="email"
                                   [(ngModel)]="user.email" required  #email="ngModel"/>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="lastname2">Phone Number</label>
                            <input pInputText id="phoneNumber" type="text"
                                   name="phoneNumber"
                                   [(ngModel)]="user.phoneNumber" required  #phoneNumber="ngModel"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="address">Address</label>
                            <input name="address" [(ngModel)]="user.adress" pInputTextarea id="address" rows="4"/>
                        </div>

                        <div class="field col-12 md:col-6">
                            <label htmlFor="city">City</label>
                            <input pInputText id="city" type="text"/>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="zip">Governorate</label>
                            <input pInputText id="zip" type="text"/>
                        </div>
                        <h6></h6>
                        <div class="field col-12">
                            <label htmlFor="address">Password</label>
                            <input pInputTextarea id="password" rows="4"
                                   name="password"
                                   [(ngModel)]="user.password" required  #password="ngModel"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="address">Repeat Password</label>
                            <input pInputTextarea id="repeatPassword" rows="4"/>
                        </div>
                        <h1></h1>
                        <div class="field col-12 md:col-3" style="display: block;margin: 0 auto;">
                            <div  style="display: block;margin: 0 auto;text-align: center">
                                <label >Acount Type</label>
                            </div>
                            <p-dropdown [options]="role" optionLabel="name" [(ngModel)]="user.role"
                                        name="role"></p-dropdown>
                        </div>
                    </div>
                </form>
                <h1></h1>
                <form #fc="ngForm" *ngIf="user.role==role[0]">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label htmlFor="firstname2">Company Name</label>
                            <input pInputText id="companyName" type="text"
                                   name="companyName"
                                   [(ngModel)]="company.companyName" required  #companyName="ngModel"/>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="lastname2">Company Phone Number</label>
                            <input pInputText id="companyPhoneNumber" type="text"
                                   name="companyPhoneNumber"
                                   [(ngModel)]="company.companyPhoneNumber" required  #companyPhoneNumber="ngModel"/>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="firstname2">Company Register Number</label>
                            <input pInputText id="companyRegisterNumber" type="text"
                                   name="companyRegisterNumber"
                                   [(ngModel)]="company.companyRegisterNumber" required  #companyRegisterNumber="ngModel"/>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="lastname2">Logo</label>
                            <input pInputText id="logo" type="text"
                                   name="logo"
                                   [(ngModel)]="company.logo"   #logo="ngModel"/>
                        </div>
                    </div>
                    <button *ngIf="user.role==role[0]" style="display: block;margin: 0 auto" pButton label="Submit"
                            [disabled]="f.invalid || fc.invalid" (click)="addUser()"></button>

                </form>
                <button *ngIf="user.role==role[1]" style="display: block;margin: 0 auto" pButton label="Submit"
                        [disabled]="f.invalid" (click)="addUser()"></button>
            </div>
        </div>
    </div>


</div>
